{% extends "base.html" %}


{% block navbar %}
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand badge text-primary text-bg-light" href="/">Company Count Application</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/upload/">Upload Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/datatb/compdata/">Query Builder</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/compdata/">DRF API</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% else %}
    <p class="navbar-brand p-3 text-primary mb-2 text-bg-light" href="#">Company Count Application</p>
    {% endif %}
{%endblock%}

{% block body %}    
    <!--Pop up-->
    <div class="modal flush" id="myModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!-- Modal content -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title p-3 fs-5" id="exampleModalLabel">CompanyData Model has data already</h1>
                    <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h7 class="p-3 text-primary mb-2">Do you want to delete the current data?</h7>
                </div>
                <div class="modal-footer p-3">
                    <a href="/datatb/compdata/" class="btn btn-dark">Don't delete data!</a>
                    <a href="{% url 'Delete_model' %}" class="btn btn-primary">Delete model data!</a>
                </div>
            </div>
        </div>
    </div>

    <!--Upload part-->
    <h1 class="p-3">Please Upload File here</h1>
    <div class="card text-bg-light mb-3 position-absolute top-10 start-50 translate-middle-x" style="max-width: 40rem;">
        <form class="form-control" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary p-3 w-100" type="submit">Upload</button>
        </form>

        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <p {% if message.tags %} class = "" {% endif %}>
                    {{message}}
                </p>
            </div>
        {% endfor %}
    {% endif %}

    <script>
        window.onload = function() {
            if ({{modelExists}}==true) {
                // Display the modal
                //console.log({{modelExists}}==true)
                //console.log("do you see the pop up?");
                document.getElementById("myModal").style.display = "block";
            }
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
                modal.style.display = "none";
                // Optionally, set a flag in localStorage to avoid showing the modal again
                localStorage.setItem("conditionMet", "true");
            };
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                    localStorage.setItem("conditionMet", "true");
                }
            };
        };
    </script>
{%endblock%}